In [1]:
import numpy as np
import pandas as pd

In [2]:
job_skills = pd.read_csv('C:/Users/ashua/Desktop/Inelligent Job Recomendation Engine/data/Jobs/job_skills.csv')
job_skills.head()

       job_id skill_abr
0  3884428798      MRKT
1  3884428798        PR
2  3884428798       WRT
3  3887473071      SALE
4  3887465684       FIN

In [3]:
postings = pd.read_csv('C:/Users/ashua/Desktop/Inelligent Job Recomendation Engine/data/Jobs/postings.csv')
postings.head()

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,...,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,normalized_salary,zip_code,fips
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,Job descriptionA leading real estate firm in N...,20.0,HOURLY,"Princeton, NJ",2774458.0,20.0,NaN,...,Requirements: \n\nWe are seeking a College or ...,1.713398e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,38480.0,8540.0,34021.0
1,1829192,NaN,Mental Health Therapist/Counselor,"At Aspen Therapy and Wellness , we are committ...",50.0,HOURLY,"Fort Collins, CO",NaN,1.0,NaN,...,NaN,1.712858e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,83200.0,80521.0,8069.0
2,10998357,The National Exemplar,Assitant Restaurant Manager,The National Exemplar is accepting application...,65000.0,YEARLY,"Cincinnati, OH",64896719.0,8.0,NaN,...,We are currently accepting resumes for FOH - A...,1.713278e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,55000.0,45202.0,39061.0
3,23221523,"Abrams Fensterman, LLP",Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,175000.0,YEARLY,"New Hyde Park, NY",766262.0,16.0,NaN,...,This position requires a baseline understandin...,1.712896e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,157500.0,11040.0,36059.0
4,35982263,NaN,Service Technician,Looking for HVAC service tech with experience ...,80000.0,YEARLY,"Burlington, IA",NaN,3.0,NaN,...,NaN,1.713452e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,70000.0,52601.0,19057.0

In [4]:
resume = pd.read_csv('C:/Users/ashua/Desktop/Inelligent Job Recomendation Engine/data/Resumes/resume.csv')
resume.head()

,ID,Resume_str,Resume_html,Category
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",HR
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR

In [5]:
job_skills.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213768 entries, 0 to 213767
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   job_id     213768 non-null  int64
 1   skill_abr  213768 non-null  object
dtypes: int64(1), object(1)
memory usage: 3.3+ MB

In [6]:
job_skills.isnull().sum()

job_id       0
skill_abr    0
dtype: int64

In [7]:
job_skills.nunique()

job_id       126807
skill_abr        35
dtype: int64

In [8]:
job_skills.drop_duplicates(inplace=True)

In [9]:
job_skills.duplicated().sum()

np.int64(0)

In [10]:
job_skills.dropna(inplace=True)

In [11]:
postings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123849 entries, 0 to 123848
Data columns (total 31 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   job_id                      123849 non-null  int64
 1   company_name                122130 non-null  object
 2   title                       123849 non-null  object
 3   description                 123842 non-null  object
 4   max_salary                  29793 non-null   float64
 5   pay_period                  36073 non-null   object
 6   location                    123849 non-null  object
 7   company_id                  122132 non-null  float64
 8   views                       122160 non-null  float64
 9   med_salary                  6280 non-null    float64
 10  min_salary                  29793 non-null   float64
 11  formatted_work_type         123849 non-null  object
 12  applies                     23320 non-null   float64
 13  original_listed_time        123849 non-null  float64
 14  remote_allowed              15246 non-null   float64
 15  job_posting_url             123849 non-null  object
 16  application_url             87184 non-null   object
 17  application_type            123849 non-null  object
 18  expiry                      123849 non-null  float64
 19  closed_time                 1073 non-null    float64
 20  formatted_experience_level  94440 non-null   object
 21  skills_desc                 2439 non-null    object
 22  listed_time                 123849 non-null  float64
 23  posting_domain              83881 non-null   object
 24  sponsored                   123849 non-null  int64
 25  work_type                   123849 non-null  object
 26  currency                    36073 non-null   object
 27  compensation_type           36073 non-null   object
 28  normalized_salary           36073 non-null   float64
 29  zip_code                    102977 non-null  float64
 30  fips                        96434 non-null   float64
dtypes: float64(14), int64(2), object(15)
memory usage: 29.3+ MB

In [12]:
postings.drop(['views', 'applies', 'original_listed_time', 'expiry', 'closed_time', 
                   'job_posting_url', 'application_url', 'application_type', 'pay_period', 
                   'max_salary', 'min_salary', 'med_salary', 'company_id', 'remote_allowed',
                   'listed_time', 'posting_domain', 'sponsored', 'currency', 
                   'compensation_type', 'normalized_salary', 'zip_code', 'fips',], axis=1, inplace=True)

In [13]:
postings.head()

,job_id,company_name,title,description,location,formatted_work_type,formatted_experience_level,skills_desc,work_type
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,Job descriptionA leading real estate firm in N...,"Princeton, NJ",Full-time,NaN,Requirements: \n\nWe are seeking a College or ...,FULL_TIME
1,1829192,NaN,Mental Health Therapist/Counselor,"At Aspen Therapy and Wellness , we are committ...","Fort Collins, CO",Full-time,NaN,NaN,FULL_TIME
2,10998357,The National Exemplar,Assitant Restaurant Manager,The National Exemplar is accepting application...,"Cincinnati, OH",Full-time,NaN,We are currently accepting resumes for FOH - A...,FULL_TIME
3,23221523,"Abrams Fensterman, LLP",Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,"New Hyde Park, NY",Full-time,NaN,This position requires a baseline understandin...,FULL_TIME
4,35982263,NaN,Service Technician,Looking for HVAC service tech with experience ...,"Burlington, IA",Full-time,NaN,NaN,FULL_TIME

In [14]:
postings.isnull().sum()

job_id                             0
company_name                    1719
title                              0
description                        7
location                           0
formatted_work_type                0
formatted_experience_level     29409
skills_desc                   121410
work_type                          0
dtype: int64

In [17]:
postings = postings.drop(columns=['skills_desc'])

In [18]:
postings = postings.dropna(subset=['description', 'company_name'])

In [19]:
postings['formatted_experience_level'] = postings['formatted_experience_level'].fillna('Not Specified')

In [20]:
postings.isnull().sum()

job_id                        0
company_name                  0
title                         0
description                   0
location                      0
formatted_work_type           0
formatted_experience_level    0
work_type                     0
dtype: int64

In [21]:
postings.duplicated().sum()

np.int64(0)

In [25]:
postings['description'] = postings['description'].str.lower().str.strip()

In [22]:
resume.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2484 entries, 0 to 2483
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           2484 non-null   int64
 1   Resume_str   2484 non-null   object
 2   Resume_html  2484 non-null   object
 3   Category     2484 non-null   object
dtypes: int64(1), object(3)
memory usage: 77.8+ KB

In [23]:
resume.isnull().sum()

ID             0
Resume_str     0
Resume_html    0
Category       0
dtype: int64

In [24]:
resume.duplicated().sum()

np.int64(0)

In [26]:
resume['Resume_str'] = resume['Resume_str'].str.lower().str.strip()

In [ ]:
postings.to_csv('C:/Users/ashua/Desktop/Inelligent Job Recomendation Engine/data/Jobs/postings_cleaned.csv', index=False)
job_skills.to_csv('C:/Users/ashua/Desktop/Inelligent Job Recomendation Engine/data/Jobs/job_skills_cleaned.csv', index=False)
resume.to_csv('C:/Users/ashua/Desktop/Inelligent Job Recomendation Engine/data/resumes/resume_cleaned.csv', index=False)

print("Cleaned data saved!")

Cleaned data saved!