In [1]:
import pandas as pd
import re

In [2]:
resume = pd.read_csv('C:/Users/ashua/Desktop/Inelligent Job Recomendation Engine/data/Resumes/resume_cleaned.csv')

In [6]:
resume.head()

,ID,Resume_str,Resume_html,Category
0,16852973,hr administrator/marketing associate\n\nhr adm...,"<div class=""fontsize fontface vmargins hmargin...",HR
1,22323967,"hr specialist, us hr operations summary ...","<div class=""fontsize fontface vmargins hmargin...",HR
2,33176873,hr director summary over 20 years e...,"<div class=""fontsize fontface vmargins hmargin...",HR
3,27018550,"hr specialist summary dedicated, driv...","<div class=""fontsize fontface vmargins hmargin...",HR
4,17812897,hr manager skill highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR

In [3]:
#create a list of skills to search for
skills_list = [
    # Programming Languages
    'python', 'java', 'javascript', 'c++', 'c#', 'php', 'ruby', 'swift', 'kotlin', 
    'go', 'rust', 'typescript', 'scala', 'r', 'matlab', 'perl', 'shell scripting',
    
    # Web Development
    'html', 'css', 'react', 'angular', 'vue', 'node.js', 'express', 'django', 
    'flask', 'spring boot', 'asp.net', 'jquery', 'bootstrap', 'sass', 'webpack',
    
    # Databases
    'sql', 'mysql', 'postgresql', 'mongodb', 'oracle', 'sql server', 'sqlite', 
    'redis', 'cassandra', 'dynamodb', 'firebase', 'nosql',
    
    # Cloud & DevOps
    'aws', 'azure', 'google cloud', 'docker', 'kubernetes', 'jenkins', 'git', 
    'github', 'gitlab', 'ci/cd', 'terraform', 'ansible', 'linux', 'unix',
    
    # Data Science & ML
    'machine learning', 'deep learning', 'data analysis', 'data science', 
    'artificial intelligence', 'nlp', 'computer vision', 'tensorflow', 'pytorch', 
    'keras', 'scikit-learn', 'pandas', 'numpy', 'matplotlib', 'tableau', 'power bi',
    
    # Mobile Development
    'android', 'ios', 'react native', 'flutter', 'xamarin',
    
    # Testing & QA
    'selenium', 'junit', 'pytest', 'testing', 'quality assurance', 'automation testing',
    
    # Project Management & Methodologies
    'agile', 'scrum', 'kanban', 'jira', 'waterfall', 'project management',
    
    # Soft Skills
    'communication', 'leadership', 'teamwork', 'problem solving', 'analytical', 
    'critical thinking', 'time management', 'collaboration',
    
    # Office & Business
    'excel', 'powerpoint', 'word', 'microsoft office', 'google docs', 'outlook',
    
    # Other Technical
    'rest api', 'graphql', 'microservices', 'api', 'json', 'xml', 'sap', 'salesforce',
    'cybersecurity', 'networking', 'blockchain', 'iot']

#skills updated from varous sources to make it more comprehensive

In [ ]:
#function to extract skills from resume text
def extract_skills(resume_text, skills_list):
    resume_text = resume_text.lower()
    found_skills = set()
    
    for skill in skills_list:
        pattern = r'\b' + re.escape(skill) + r'\b'
        if re.search(pattern, resume_text):
            found_skills.add(skill)
    return list(found_skills)

In [ ]:
#test sample
sample_resume = resume['Resume_str'].iloc[0]
extracted_skills = extract_skills(sample_resume, skills_list)
print("Extracted Skills:", extracted_skills)

Extracted Skills: ['swift', 'data analysis', 'analytical', 'time management', 'leadership']

In [10]:
for i in range(10):
    sample_resume = resume['Resume_str'].iloc[i]
    extracted_skills = extract_skills(sample_resume, skills_list)
    print(f"\nResume {i+1}:")
    print(f"Resume {i+1} Extracted Skills:", extracted_skills)
    print(f"Total skills: {len(extracted_skills)}")

Resume 1:
Resume 1 Extracted Skills: ['swift', 'data analysis', 'analytical', 'time management', 'leadership']
Total skills: 5

Resume 2:
Resume 2 Extracted Skills: ['networking', 'microsoft office', 'project management', 'communication']
Total skills: 4

Resume 3:
Resume 3 Extracted Skills: ['excel', 'express', 'word', 'leadership', 'project management']
Total skills: 5

Resume 4:
Resume 4 Extracted Skills: ['excel', 'powerpoint', 'outlook', 'word', 'communication']
Total skills: 5

Resume 5:
Resume 5 Extracted Skills: ['excel', 'teamwork', 'powerpoint', 'problem solving', 'outlook', 'word', 'leadership', 'project management']
Total skills: 8

Resume 6:
Resume 6 Extracted Skills: ['excel', 'powerpoint', 'outlook', 'time management', 'word', 'microsoft office']
Total skills: 6

Resume 7:
Resume 7 Extracted Skills: ['leadership', 'microsoft office', 'project management']
Total skills: 3

Resume 8:
Resume 8 Extracted Skills: ['project management', 'communication']
Total skills: 2

Resume 9:
Resume 9 Extracted Skills: ['excel', 'powerpoint', 'outlook', 'word', 'leadership', 'project management', 'communication']
Total skills: 7

Resume 10:
Resume 10 Extracted Skills: ['r']
Total skills: 1